.footer {
  width: 100%;
  height: 2rem;
  /* position: fixed; */
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  bottom: 0;
}

.footer a {
  text-decoration: none;
  color: white;
}